<template>
  <div
    class="block align-middle text-center justify-center max-w-6xl pt-72 m-auto min-h-screen"
    v-if="$apollo.loading"
  >
    <div class="text-center">
      <div role="status">
        <svg
          class="inline mr-2 w-16 h-16 text-background-secondary animate-spin dark:text-background-secondary-dark fill-color-primary dark:fill-color-primary-dark"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"
          />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill"
          />
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div
    class="block px-2 md:pt-24 pt-10 mt-10 md:mt-30 align-middle justify-center max-w-6xl min-h-screen mx-auto"
    v-else-if="project.name"
  >
    <div class="flow-root py-6">
      <div class="float-left w-1/2">
        <img
          :alt="project.name"
          itemprop="image"
          :src="project.avatarUrl + '?width=64'"
          loading="lazy"
        />
        <h5 class="md:text-base">
          {{ project.name }}
        </h5>
      </div>
      <div class="text-right w-1/2 float-right pt-4">
        <!-- <div class="stat"><span>⭐ Stars </span> <span>{{project.starCount}}</span></div> -->
        <div class="p-1 text-xs md:text-sm">
          <span>📆 Created </span>
          <span>{{ relativeTime(project.createdAt) }} ago</span>
        </div>
        <div class="p-1 text-xs md:text-sm">
          <span>🕛 Last activity </span>
          <span>{{ relativeTime(project.lastActivityAt) }} ago</span>
        </div>
      </div>
    </div>
    <div class="flex justify-between py-1">
      <div class="flex">
        <span class="readme-filename text-center mt-3">README.md</span>
      </div>
      <div class="flex justify-between">
        <a
          role="button"
          class="btn-link flex items-center"
          :href="project.webUrl"
          target="_blank"
        >
          View on <GitlabIcon class="gl-icon flex w-9 h-9 p-1.5"
        /></a>
      </div>
    </div>
    <hr class="solid mx-auto m-4 mt-0" />
    <ReadMe :content="project.repository.blobs.edges[0].node.rawTextBlob" />
    <hr class="solid mx-auto m-4" />
  </div>
  <div
    v-else
    class="block p-52 align-middle text-center justify-center max-w-6xl mt-25 px-2 min-h-screen mx-auto"
  >
    <p>‼️ Uh oh! There's been an error...</p>
    <p>
      Check out my
      <a href="https://gitlab.com/shed909/" target="_blank"
        >🦊 GitLab profile</a
      >
      for more.
    </p>
  </div>
</template>

<script lang="ts">
import projectQuery from '~/graphql/projectQuery.graphql';
import ReadMe from '@/components/ReadMe.vue';
import GitlabIcon from '@/assets/icons/gitlab.svg?inline';

import Vue from 'vue';
import hljs from 'highlight.js';

interface Data extends Vue {
  project: { name: String };
  projectFullPath: String;
}

export default Vue.extend({
  name: 'ProjectPage',
  head() {
    return {
      title: 'Loading..',
      titleTemplate: `Shane Hull | ${(this as Data).project.name}`,
      htmlAttrs: {
        lang: 'en',
      },
    };
  },
  components: {
    ReadMe,
    GitlabIcon,
  },
  data() {
    return {
      project: { name: 'Loading..' },
      projectFullPath: `${process.env.GITLAB_NAMESPACE || 'shanehull'}/${
        this.$route.params.path
      }`,
    };
  },
  apollo: {
    project: {
      prefetch: true,
      query: projectQuery,
      variables(): object {
        return {
          fullPath: (this as Data).projectFullPath,
        };
      },
    },
  },
  methods: {
    relativeTime(timestamp: Date): String {
      const nowDate = new Date();
      const previousDate = new Date(timestamp);
      const secondsAgo = Math.floor(
        (nowDate.getTime() - previousDate.getTime()) / 1000,
      );
      const units = [
        { label: 'year', seconds: 31536000 },
        { label: 'month', seconds: 2592000 },
        { label: 'day', seconds: 86400 },
        { label: 'hour', seconds: 3600 },
        { label: 'minute', seconds: 60 },
        { label: 'second', seconds: 1 },
      ];
      const interval = units.find((i) => i.seconds < secondsAgo)!;
      const count = Math.floor(secondsAgo / interval.seconds);

      return `${count} ${interval.label}${count !== 1 ? 's' : ''}`;
    },
  },
});
</script>

<style lang="postcss">
@import '../../node_modules/katex/dist/katex.min.css';
@import '../../node_modules/highlight.js/styles/atom-one-dark-reasonable.css';

.readme-content {
  @apply pr-8 max-w-6xl;
  span.math.display {
    @apply inline-block overflow-x-auto;
  }
  .katex-display > .katex {
    @apply inline-block whitespace-nowrap text-inherit;
  }

  @media only screen and (max-width: 1094px) {
    /* make katex more responsive */
    .katex-display > .katex {
      max-width: screen;
      overflow-x: auto;
      overflow-y: hidden;
      font-size: 1em !important;
      .katex-html {
        max-width: 80%;
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }

  code.hljs {
    @apply p-1.5 my-1 rounded-md mr-2 lg:max-w-6xl text-xs lg:text-sm;
  }

  p code:not(.hljs) {
    @apply p-0.5 bg-background-code dark:bg-background-code-dark text-code-inline dark:text-code-inline-dark rounded-sm text-xs lg:text-sm;
  }

  table {
    @apply my-4;
    th,
    td {
      @apply border-color-secondary dark:border-color-secondary-dark border p-2;
    }
  }

  .table-of-contents {
    @apply px-4;
    ol {
      @apply list-disc pl-8;
    }
  }

  h1 {
    @apply pt-6;
  }
  h2 {
    @apply pt-5;
  }
  h3 {
    @apply pt-4;
  }
  ol {
    @apply list-decimal pl-8;
  }
  ul {
    @apply list-disc pl-8;
  }

  p {
    @apply py-4 max-w-6xl;
  }
}
</style>
