<template>
  <button
    class="color-mode-switch btn btn-floating user-select-none px-4 md:px-2"
    @click="toggleDarkMode()"
  >
    <span placeholder="..." tag="span">
      <span v-if="$colorMode.value === 'dark'">
        <IconLight class="stroke-orange-200" />
      </span>
      <span v-else>
        <IconDark class="stroke-gray-600" />
      </span>
    </span>
  </button>
</template>

<script lang="ts">
import IconLight from '@/assets/icons/light.svg?inline';
import IconDark from '@/assets/icons/dark.svg?inline';

import Vue from 'vue';

export default Vue.extend({
  components: {
    IconLight,
    IconDark,
  },
  methods: {
    toggleDarkMode() {
      if (this.$colorMode.preference !== 'dark') {
        this.$colorMode.preference = 'dark';
      } else {
        this.$colorMode.preference = 'light';
      }
    },
  },
});
</script>
