<template>
  <NuxtLink :to="`/projects/${project.path}`" class="flex z-1">
    <div class="text-center">
      <img
        class="inline-flex"
        :src="project.avatarUrl + '?width=130'"
        :alt="project.name + ' avatar'"
        width="130px"
        height="130px"
      />
      <h4 class="text-lg w-full mx-auto">{{ project.name }}</h4>
      <p
        class="text-sm font-extralight text-color-secondary dark:text-color-secondary-dark"
      >
        {{ project.description }}
      </p>
    </div>
  </NuxtLink>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: ['project'],
});
</script>
