<template>
  <client-only>
    <div
      class="readme-content block align-middle min-h-screen max-w-7xl mx-auto w-screen md:flex"
    >
      <p v-if="content" v-html="$md.render(content)"></p>
    </div>
  </client-only>
</template>

<script>
import Vue from 'vue';

export default Vue.extend({
  props: ['content'],
});
</script>
