<template>
  <section id="about">
    <div class="block my-32 pt-28 px-4 min-h-screen max-w-7xl mx-auto md:flex">
      <div class="justify-center pt-10 lg:pt-20">
        <h1 class="section-header">About me 🤷🏼‍♂️</h1>
        <p class="snippet">
          I am a DevOps Engineer with 6 years of experience working with
          containers, cloud, and automation.
        </p>
        <br />
        <p class="snippet">
          I help companies achieve streamlined, auditable, and
          security-compliant cloud deployments using Infrastructure as Code. I
          build out CI/CD pipelines that supercharge development workflows. I
          implement complete application & infrastructure monitoring solutions
          that provide visibility on uptime and reliability.
        </p>
        <br />
        <p class="snippet">
          I love using tools like Pulumi and Terraform to provision cloud-native
          infrastructure in AWS and implementing GitOps workflows that align
          infrastructure provisioning with traditional software development and
          release workflows. I have experience with Kubernetes in many forms, in
          both private and public clouds, and have worked on globally
          distributed infrastructure in globally distributed teams.
        </p>
        <br />
        <p class="snippet">
          Aside from infrastructure, I am also a bit of a coder, with 4 years of
          experience using Python to automate tasks and, more recently, using
          TypeScript and Golang to build web apps and APIs in my side projects.
          I make an effort to contribute to the code-base of the organisations I
          work for, with improvements focussing on reliability and security from
          a systems standpoint. The line between DevOps and Developer is
          becoming thinner with time, and I welcome the transition.
        </p>
        <br />
        <p class="snippet">
          You can find me on
          <a target="_blank" href="https://in.linkedin.com/in/shanehull0/"
            >LinkedIn</a
          >, or email me using <NuxtLink to="/contact">this form</NuxtLink>.
        </p>
      </div>
      <div class="invisible md:visible px-9">
        <div class="container">
          <WalkIlustration width="460" />
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import WalkIlustration from '@/assets/illustrations/walk.svg?inline';

export default {
  name: 'About',
  components: {
    WalkIlustration,
  },
};
</script>
