<template>
  <!-- Footer -->
  <footer class="footer flex mx-auto">
    <div class="inline-block content-center align-middle mx-auto text-center">
      <!-- All socials -->
      <ul
        class="inline-block px-5 py-3"
        v-for="social in socials"
        :key="social.label"
      >
        <a target="_blank" :href="social.href">
          <img
            class="social-icon invert-30 dark:invert-50"
            :src="require(`~/assets/icons/${social.icon}?width=24`)"
            :alt="social.label"
            width="24px"
            height="24px"
          />
        </a>
      </ul>
      <!-- All socials -->

      <!-- All links -->
      <div class="flex-row px-5 py-3">
        <span class="px-2" v-for="link in links" :key="link.label">
          <a
            v-if="link.target == '_blank'"
            :href="link.href"
            :target="link.target"
            >{{ link.label }}</a
          >
          <NuxtLink v-else class="scrollto" :to="link.href">{{
            link.label
          }}</NuxtLink>
        </span>
      </div>
      <!-- All links -->

      <!-- Legal -->
      <div class="legal pb-5 px-6 py-3">
        <small
          >This site is protected by hCaptcha and its
          <a href="https://hcaptcha.com/privacy">Privacy Policy</a> and
          <a href="https://hcaptcha.com/terms">Terms of Service</a> apply.
        </small>
        <div>
          <small>&copy; 2022 Shane Hull</small>
        </div>
      </div>
      <!-- Legal -->
    </div>
  </footer>
  <!-- Footer -->
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Footer',
  props: ['links'],
  data() {
    return {
      socials: [
        {
          label: 'GitLab',
          icon: 'gitlab-wire.svg',
          href: 'https://gitlab.com/shed909',
        },
        {
          label: 'LinkedIn',
          icon: 'linkedin.svg',
          href: 'https://linkedin.com/in/shanehull0',
        },
        {
          label: 'Polywork',
          icon: 'polywork.svg',
          href: 'https://timeline.shanehull.com',
        },
        {
          label: 'Twitter',
          icon: 'twitter.svg',
          href: 'https://twitter.com/shed_one',
        },
      ],
    };
  },
});
</script>
