<template>
  <section id="home">
    <div class="block my-32 pt-28 px-4 min-h-screen max-w-7xl mx-auto md:flex">
      <div class="justify-center pt-10 lg:pt-20">
        <h1 class="section-header">Hi 👋</h1>
        <p class="snippet">
          You've reached Shane Hull's corner of the intertubes.
        </p>
        <p class="snippet">
          Here you can find some information about me as well as some personal
          projects I've been working on.
        </p>
        <br />
        <p class="snippet">
          Have a look around and get in touch if you have any questions.
        </p>
      </div>
      <div class="invisible md:visible">
        <div class="container">
          <TerminalIllustration width="460" />
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import TerminalIllustration from '@/assets/illustrations/terminal.svg?inline';

import Vue from 'vue';

export default Vue.extend({
  name: 'Hero',
  components: {
    TerminalIllustration,
  },
});
</script>

<style lang="scss"></style>
