<template>
  <header id="header">
    <div class="fixed mx-auto top-0 z-50 inset-x-0 h-15 w-full">
      <div class="navbar-overlay h-15 py-2 px-2 max-w-7xl mx-auto z-0">
        <div class="flex justify-between items-center mx-auto">
          <!-- Title -->
          <div class="block select-none justify-start items-center">
            <NuxtLink to="/">
              <TitleIcon class="fill-color dark:fill-color-dark" />
            </NuxtLink>
          </div>
          <!-- Navbar -->
          <nav
            id="navbar"
            class="flex select-none justify-end items-center w-1/2"
          >
            <div
              class="invisible flex items-center space-x-1 md:visible"
              v-for="navItem in shortNavItems"
              :key="navItem.label"
            >
              <a
                class="px-4"
                v-if="navItem.target == '_blank'"
                :href="navItem.href"
                :target="navItem.target"
                >{{ navItem.label }}
              </a>
              <NuxtLink
                v-else
                class="scrollto"
                :to="navItem.href"
                :target="navItem.target"
                >{{ navItem.label }}
              </NuxtLink>
            </div>
            <div
              class="flex justify-center px-1 md:px-2 items-center space-x-2 md:space-x-1"
            >
              <ColorModeSwitcher />
              <div @click="toggleModal">
                <NavBurger
                  :isBurgerActive="isBurgerActive"
                  class="md:hidden invert-30"
                />
              </div>
            </div>
          </nav>
          <!-- End navbar -->
        </div>
        <!-- Modal -->
        <transition name="fade">
          <div
            class="fixed w-full h-full top-30 pt-10 left-0 flex justify-center transition-opacity delay-150 ease-in-out duration-500"
            v-show="showModal"
            id="myModal"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                  <ol>
                    <li
                      @click="toggleModal"
                      v-for="navItem in fullNavItems"
                      :key="navItem.label"
                      class="text-2xl text-center p-1"
                    >
                      <a
                        class="px-4"
                        v-if="navItem.target == '_blank'"
                        :href="navItem.href"
                        :target="navItem.target"
                        >{{ navItem.label }}
                      </a>
                      <NuxtLink
                        v-else
                        class="scrollto"
                        :to="navItem.href"
                        :target="navItem.target"
                        >{{ navItem.label }}
                      </NuxtLink>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </transition>
        <!-- End modal -->
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import ColorModeSwitcher from '@/components/ColorModeSwitcher.vue';
import TitleIcon from '@/assets/icons/title.svg?inline';
import NavBurger from '@/components/NavBurger.vue';

import Vue from 'vue';

export default Vue.extend({
  components: {
    ColorModeSwitcher,
    TitleIcon,
    NavBurger,
  },
  props: ['shortNavItems', 'fullNavItems'],
  data() {
    return {
      projects: [],
      showModal: false,
      isBurgerActive: false,
    };
  },
  methods: {
    toggleModal() {
      this.showModal = !this.showModal;
      this.isBurgerActive = !this.isBurgerActive;
    },
  },
});
</script>

<style lang="postcss">
#titlePaths {
  @apply fill-color-primary dark:fill-color-primary-dark;
}
</style>
