<template>
  <section
    id="projects"
    class="block my-32 pt-20 lg:pt-28 px-2 min-h-screen max-w-7xl mx-auto"
  >
    <div class="text-right md:pr-9 p-0">
      <h1>🔨 Projects</h1>
      <p>Some projects I've been working on...</p>
    </div>
    <!-- Grid -->
    <div
      class="grid px-4 grid-cols-1 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 xs:grid-cols-1"
      v-if="projects"
    >
      <div
        class="flex flex-col p-6 items-center justify-center"
        v-for="project in projects.nodes"
        :key="project.id"
      >
        <ProjectCard :project="project" />
      </div>
    </div>
    <div v-else class="block align-middle py-10 mx-auto">
      <p>‼️ Uh oh! There's been an error...</p>
      <p>
        Check out my
        <a href="https://gitlab.com/shed909/" target="_blank"
          >🦊 GitLab profile</a
        >
        for more.
      </p>
    </div>

    <!-- End Grid -->
  </section>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Projects',
  props: ['projects'],
});
</script>
