@tailwind base;
@tailwind components;
@tailwind utilities;

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
main {
  @apply text-color z-0 overflow-x-hidden bg-background dark:bg-background-dark dark:text-color-dark font-medium font-ninito;
  .navbar-overlay {
    @apply bg-background dark:bg-background-dark z-0;
  }
}

body {
  @apply items-center justify-center  bg-background dark:bg-background-dark text-sm lg:text-base;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-comfortaa text-color-primary dark:text-color-primary-dark;
  }
  img {
    @apply dark:fill-current;
  }
  h1 {
    @apply text-3xl;
  }
  button,
  a {
    @apply bg-none shadow-none bg-transparent outline-transparent hover:opacity-80 hover:text-color-secondary dark:hover:text-color-secondary-dark text-color-primary dark:text-color-primary-dark visited:text-color-primary dark:visited:text-color-primary-dark;
  }
  p {
    @apply pb-0.5 !important;
  }

  .burger-bar {
    @apply bg-color dark:bg-color-dark;
  }

  input,
  textarea {
    @apply bg-background-secondary dark:bg-background-secondary-dark dark:text-color-dark text-color rounded-md border border-color;
  }
  form button {
    @apply text-color dark:text-color-dark hover:text-color-secondary hover:dark:text-color-secondary-dark bg-background-secondary dark:bg-background-secondary-dark hover:bg-background dark:hover:bg-background-dark border-color rounded-md  border;
  }

  #myModal {
    @apply bg-background dark:bg-background-dark dark:text-color-dark text-color;
  }
}

/*--------------------------------------------------------------
# Transitions
--------------------------------------------------------------*/
.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active {
  transition-property: opacity;
  transition-timing-function: ease-in;
  transition-duration: 200ms;
}
.fade-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-out;
  transition-duration: 600ms;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
