<template>
  <main>
    <TheNavBar :fullNavItems="fullNavItems" :shortNavItems="shortNavItems" />
    <Nuxt />
    <TheFooter :links="fullNavItems" />
  </main>
</template>

<script lang="ts">
import NavBar from '~/components/TheNavBar.vue';
import Footer from '~/components/TheFooter.vue';
import Vue from 'vue';

export default Vue.extend({
  head: {
    title: 'Home',
    titleTemplate: 'Shane Hull | %s',
  },
  components: {
    NavBar,
    Footer,
  },
  data() {
    return {
      fullNavItems: [
        {
          label: 'Home',
          href: '/#',
          target: '',
        },
        {
          label: 'Projects',
          href: '/#projects',
          target: '',
        },
        {
          label: 'About',
          href: '/#about',
          target: '',
        },
        {
          label: 'Contact',
          href: '/contact',
          target: '',
        },
        {
          label: 'Timeline',
          href: 'https://timeline.shanehull.com',
          target: '_blank',
        },
      ],
      shortNavItems: [
        {
          label: 'Contact',
          href: '/contact',
          target: '',
        },
        {
          label: 'Timeline',
          href: 'https://timeline.shanehull.com',
          target: '_blank',
        },
      ],
    };
  },
});
</script>
