<template>
  <section id="contact" class="contact">
    <div
      class="flex-block text-center justify-center pt-40 mx-30 w-screen h-screen"
    >
      <h1 class="text-center">Got questions?</h1>
      <p class="p-2">
        Find me on
        <a href="https://linkedin.com/in/shanehull0" target="_blank">
          LinkedIn</a
        >, or use the form below to send me a message.
      </p>
      <hr class="solid w-4/5 md:w-full max-w-4xl mx-auto justify-center" />

      <div class="sent-message p-4" v-if="sent">
        <p class="py-10 text-3xl">Sent 📬</p>
        <br />
        <p>Thanks for getting in touch.</p>
        <p>I'll get back to you as soon as I can.</p>
      </div>

      <div
        class="flex flex-col contact-form p-4 pt-10 items-center md:w-full max-w-4xl mx-auto"
        v-else
      >
        <h3 class="text-xl">Contact ✉️</h3>
        <form class="w-full justify-center" v-on:submit.prevent="onSubmit">
          <label
            class="flex flex-col pt-4 w-full text-left"
            for="email"
            autocomplete="true"
            >Email address:*</label
          >
          <input
            class="flex flex-col w-full p-1 border"
            id="email"
            type="email"
            data-val="true"
            placeholder="me@example.com"
            v-model="email"
            required
          />
          <label class="flex flex-row pt-3 w-full" for="subject"
            >Subject:*</label
          >
          <input
            class="flex flex-row w-full p-1"
            id="subject"
            data-val="true"
            v-model="subject"
            required
          />
          <label class="flex flex-row pt-3 w-full" for="message"
            >Message:*</label
          >
          <textarea
            class="flex flex-row p-1 w-full"
            id="message"
            rows="8"
            v-model="message"
            required
          />
          <vue-hcaptcha
            ref="invisibleHcaptcha"
            :sitekey="siteKey"
            :reCaptchaCompat="false"
            size="invisible"
            @verify="onVerify"
            @expired="onExpire"
            @challenge-expired="onExpire"
            @error="onError"
          ></vue-hcaptcha>
          <button
            id="contact"
            class="flex text-center items-center justify-center mx-auto m-2 w-20 h-10"
            type="submit"
            v-if="!sending"
          >
            Send
          </button>
          <p v-else class="sending-indicator p-4">Sending...</p>
        </form>

        <div class="message" v-if="errorMessage">
          <span
            class="notification-text"
            :style="errorStatus ? 'color: red;' : ''"
          >
            {{ errorMessage }}
          </span>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue';
import VueHcaptcha from '@hcaptcha/vue-hcaptcha';

export default Vue.extend({
  name: 'Contact',
  head: {
    title: 'Contact',
  },
  components: { VueHcaptcha },

  data() {
    return {
      email: '',
      subject: '',
      message: '',
      sending: false,
      sent: false,
      errorStatus: false,
      errorMessage: '',
      verified: false,
      expired: false,
      token: null as string | null,
      eKey: null as string | null,
      siteKey: this.$config.siteKey,
    };
  },
  methods: {
    async onSubmit(): Promise<void> {
      try {
        (this.$refs.invisibleHcaptcha as VueHcaptcha).execute();
      } catch (error) {
        this.sending = false;
        this.errorStatus = true;
        this.errorMessage = 'There was an unknown error.';
      }
    },
    async sendMail(): Promise<string | void> {
      this.sending = true;
      await this.$axios
        .$post('/mail/send', {
          subject: 'Message from ' + this.email + ' regarding ' + this.subject,
          text: this.message,
        })
        .then((response) => {
          this.sent = true;
          this.sending = false;
          return response;
        })
        .catch((error) => {
          console.error(error);
        });
    },
    async onVerify(token: string, ekey: string) {
      this.token = token;
      this.eKey = ekey;

      await this.$axios
        .post('/hcaptcha-verify', { token, ekey })
        .then(async (response) => {
          this.verified = response.data.success;
          // Display error message if captcha was not successful
          if (!response.data.success) {
            this.sending = false;
            this.errorStatus = true;
            this.errorMessage =
              'There was an issue with your hCAPTCHA verification. ' +
              'Please try again. ';
            // Log the error code to console
            console.log(
              'hCaptcha Error: ',
              response.data['error-codes'].toString(),
            );
            return;
          } else {
            this.sending = true;
            // If verification was successful, send the message
            const sendResponse = await this.sendMail();

            // Display error message if send was not successful
            if (!sendResponse) {
              this.sending = false;
              this.errorStatus = true;
              this.errorMessage =
                'There was an issue sending your message. Please try again.';
            }
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    onExpire() {
      this.verified = false;
      this.token = null;
      this.eKey = null;
      this.expired = true;
      console.log('Captcha expired');
    },
    onChallengeExpire() {
      this.verified = false;
      this.token = null;
      this.eKey = null;
      this.expired = true;
      console.log('Challenge expired');
    },
    onError(err: string) {
      this.token = null;
      this.eKey = null;
      console.log(`hCaptcha Error: ${err}`);
    },
  },
});
</script>
