<template>
  <div>
    <TheHero />
    <TheProjects :projects="projects" />
    <TheAbout />
  </div>
</template>

<script lang="ts">
import projectsQuery from '~/graphql/projectsQuery.graphql';

import Vue from 'vue';

export default Vue.extend({
  data() {
    return {
      projects: [] as any, // TODO
      search: process.env.GITLAB_NAMESPACE || 'shanehull',
      topics: [process.env.PROJECT_TAG || 'shanehull.com'],
    };
  },
  apollo: {
    projects: {
      prefetch: true,
      query: projectsQuery,
      variables(): object {
        return {
          search: this.search,
          topics: this.topics,
        };
      },
    },
  },
});
</script>
